@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap');

/* Warna Latar */
body {
        background: rgb(11,25,44);
        background: linear-gradient(180deg, #0B192C 37%, #066295 58%, #00AAFF 80%); 
        background-repeat: no-repeat;
        background-size: cover;
    }


.menu-item {
  text-align: center;
  margin-bottom: 30px;
}
.menu-item img {
  border-radius:20%;
  filter: drop-shadow(0px 0px 100px rgba(255,101,0,1));
} 
.menu-item h5 {
  margin-top: 10px;
  font-size: 18px;
  color: #ffff;
}
.menu-item p {
  font-size: 14px;
  color: #ffff;
}
.menu-item .btn {
  background-color: #ffff;
  color: #4E4D4D;
  border-radius: 20px;
  padding: 5px 20px;
}

.footer {
  background: #000000;
  color: white;
  text-align: center;
  padding: 20px 0;
}
.footer i {
  font-size: 24px;
  margin: 0 30px;
  color: white;
}
.footer p {
  margin: 10px 0 0;
}
.social-icon {
  transition: all 0.3s ease;
  display: inline-block;
}

.social-icon:hover {
  transform: translateY(-5px) scale(1.2);
  color: #FF6500 !important;
}