/* Warna Latar */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap');

*{
    padding: 0%;    
    margin: 0%;
}
body {
    background: rgb(11,25,44);
    background: linear-gradient(180deg, rgba(11,25,44,1) 24%, rgba(255,220,127,1) 98%); 
    background-repeat: no-repeat;
    background-size: cover;
}


.sacramento-regular {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  
.font-poppins{
    font-family: 'Poppins', sans-serif !important;
}

/* Styling Lingkaran */
.circle {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

/* Lingkaran Kuning */
.circle-yellow {
    background-color: #fdd79b;
    width: 100px;
    height: 1776px;
    top: 100%;

    position: absolute;
}

/* Lingkaran Abu-Abu */

/* Responsiveness untuk Tablet */
@media (max-width: 992px) {
    .circle-yellow {
        width: 400px;
        height: 400px;
        top: -5%;
        right: -100px;
    }

    .circle-grey {
        width: 600px;
        height: 600px;
        bottom: -150px;
        left: -150px;
    }
}

/* Responsiveness untuk Mobile */
@media (max-width: 576px) {
    .circle-yellow {
        width: 300px;
        height: 300px;
        top: -10%;
        right: -80px;
    }

}
.typewriter {
    overflow: hidden;
    display: inline-block;
    border-right: 0.15em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 1s steps(30, end) forwards, blinkCaret 0.5s step-end 1.5s;
}

@keyframes typing {
    from {
        width: 0;
        border-right-color: white;
    }
    to {
        width: 90%;
        border-right-color: transparent;
    }
}

@keyframes blinkCaret {
    50% {
        border-color: transparent;
    }
}

.tangan-slide {
    opacity: 0; /* Mulai dari transparan */
    position: absolute;
    left: 84px;
    margin-top: 20px;
    animation: slideIn 0.5s ease-out forwards;
    animation-delay: 1s;
}

@keyframes slideIn {
    from {
        transform: translateX(300%);
        opacity: 0; /* Transparan di awal */
    }
    to {
        transform: translateX(315%);
        opacity: 1; /* Terlihat di akhir */
    }
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotating-image {
    animation: rotate 10s linear infinite;
    box-shadow: 7px 10px 400px -1px rgba(255,101,0,0.75);
    -webkit-box-shadow: 7px 10px 400px -1px rgba(255,101,0,0.75);
    -moz-box-shadow: 7px 10px 400px -1px rgba(255,101,0,0.75);
    border-radius: 9999px;
}
.highlight-box{
    position: absolute;
    height: 470px;
    width: 859px;
    background-color: white;
    z-index: -1;
    left: -100px;
    border-top-right-radius: 52px; 
    border-bottom-right-radius: 52px; 
    display: flex; /* Menggunakan flexbox */
    justify-content: center; /* Menjaga gambar tetap di tengah */
    align-items: center; /* Menjaga gambar tetap di tengah secara vertikal */

}


.Highlight-Food{
    
    filter: drop-shadow(0px 0px 100px rgba(255,101,0,1));
}

