/* Warna Latar */
body {
    background-color: #0B192C;
    overflow-x: hidden;
}

/* Styling Lingkaran */
.circle {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

/* Lingkaran Kuning */
.circle-yellow {
    background-color: #fdd79b;
    width: 500px;
    height: 500px;
    top: -2%;
    right: -150px;
}

/* Lingkaran Abu-Abu */
.circle-grey {
    background-color: #d3d3d3;
    width: 700px;
    height: 700px;
    bottom: -200px;
    left: -200px;
}

/* Responsiveness untuk Tablet */
@media (max-width: 992px) {
    .circle-yellow {
        width: 400px;
        height: 400px;
        top: -5%;
        right: -100px;
    }

    .circle-grey {
        width: 600px;
        height: 600px;
        bottom: -150px;
        left: -150px;
    }
}

/* Responsiveness untuk Mobile */
@media (max-width: 576px) {
    .circle-yellow {
        width: 300px;
        height: 300px;
        top: -10%;
        right: -80px;
    }

    .circle-grey {
        width: 400px;
        height: 400px;
        bottom: -100px;
        left: -100px;
    }
}
.typewriter {
    overflow: hidden;
    display: inline-block;
    border-right: 0.15em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 1s steps(30, end) forwards, blinkCaret 0.5s step-end 1.5s;
}

@keyframes typing {
    from {
        width: 0;
        border-right-color: white;
    }
    to {
        width: 40%;
        border-right-color: transparent;
    }
}

@keyframes blinkCaret {
    50% {
        border-color: transparent;
    }
}

.tangan-slide {
    opacity: 0; /* Mulai dari transparan */
    position: absolute;
    left: -100px;
    animation: slideIn 0.5s ease-out forwards;
    animation-delay: 1s;
}

@keyframes slideIn {
    from {
        transform: translateX(300%);
        opacity: 0; /* Transparan di awal */
    }
    to {
        transform: translateX(315%);
        opacity: 1; /* Terlihat di akhir */
    }
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotating-image {
    animation: rotate 10s linear infinite;
    box-shadow: 7px 10px 400px -1px rgba(255,101,0,0.75);
    -webkit-box-shadow: 7px 10px 400px -1px rgba(255,101,0,0.75);
    -moz-box-shadow: 7px 10px 400px -1px rgba(255,101,0,0.75);
    border-radius: 9999px;
}
